/* universal styles */
body {
  color: #1C1D21;
  font-family: Oswald, tahoma, sans-serif;
  margin: auto;
  max-width: 1500px;
}

div {
  border: 1px blue solid;
  display: block;
}

h1, h2 {
  padding: 12px 0px;
}

h1 {
  font-size: 2.3rem;
  font-weight: bold;
}

h2 {
  font-size: 1.7rem;
}

p {
  font-size: .9rem;
  line-height: 1.4;
  padding: 8px 0;
}

html {
  font-size: 16px;
}

img {
  width: 100%;
}
.container {
  display: flex;
  justify-content: center;
}

/* header styles */
header {
  display: flex;
}

.top-banner {
  background-color: #92CDCF;
  display: flex;
  height: 64px;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 999999;
}

.logo,
.nav {
  align-items: center;
  color: #EEEFF7;
  display: flex;
  padding: 0 24px;
}

.logo img {
  height: 2rem;
}

.logo span {
  text-transform: uppercase;
}

.logo strong {
  color: #1C1D21;
  font-weight: bold;
}

.nav li {
  display: inline;
  padding-left: 1rem;
}

.nav li:hover {
  color: #445878;
  font-size: 1.2rem;
  transition: color 350ms ease-in;
}

/* main-welcome style */
.banner {
  background-color: #eee;
  margin-top: 64px;
}

.image {
  flex-basis: 60%;
}

.large-left {
  align-items: center;
  display: flex;
  padding: 32px 24px;
}

.side-right {
  padding-left: 24px;
}

.start {
  flex-basis: 40%;
  margin-top: 16px;
}

/* Information style */
.information-main {
  align-items: flex-start;
  flex-direction: column;
}

.card {
  display: flex;
  padding: 16px 0 16px 16px
}

.card-image {
  flex-basis: 35%;
}

.card-text {
  flex-basis: 65%;
  padding-left: 8px;
}
