/* universal styles */
body {
  color: #1C1D21;
  font-family: Oswald, tahoma, sans-serif;
  margin: auto;
  max-width: 1500px;
}

div {
  display: block;
}

h1 {
  font-size: 2.3rem;
  font-weight: bold;
}

h2 {
  font-size: 1.7rem;
}

p {
  font-size: 1rem;
  line-height: 1.4;
}

html {
  font-size: 16px;
}

img {
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
}

.column {
  flex-direction: column;
}

.grey-back {
  background-color: #ddd;
}

.white-back {
  background-color: #EEEFF7;
}

/* header styles */
header {
  display: flex;
}

video {
  margin-bottom: 24px;
  width: 100%;
}

.top-banner {
  align-items: center;
  background-color: #92CDCF;
  border-bottom: 1px #445878 solid;
  display: flex;
  height: 64px;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 999999;
}

.logo,
.nav,
.nav-mobile {
  align-items: center;
  color: #EEEFF7;
  display: flex;
  padding: 0 24px;
}

.logo img,
.nav-mobile img {
  height: 2rem;
}

.nav-mobile {
  display: none;
}

.logo span {
  text-shadow: 1px 1px #31353D;
  text-transform: uppercase;
}

.logo strong {
  color: #1C1D21;
  font-weight: bold;
}

.nav li,
.nav-mobile li {
  display: inline;
  padding-left: 1rem;
  text-shadow: 1px 1px #31353D;
}

.nav li:hover,
.nav-foot li:hover {
  color: #445878;
  transition: color 350ms ease-in;
}

/* main-welcome style */
.banner {
  background-image: url('/Resources/images/img-river.jpg');
  background-repeat: no-repeat;
  margin-bottom: 32px;
  margin-top: 64px;
  padding: 32px 24px;
}

.image {
  flex-basis: 60%;
}

.large-left {
  align-items: center;
  display: flex;
  margin: 0 24px;
}

.side-right {
  margin-left: 24px;
}

.banner .side-right h2 {
  padding: 36px 0;
}

.side-right button {
  background-color: #31353D;
  border: none;
  border-radius: 6px;
  color: #EEEFF7;
  font-size: 18px;
  padding: 8px 0;
  text-align: center;
  width: 100%;
}

button:hover {
  background-color: #445878;
  transition: background-color 450ms ease-in;
}

.start {
  flex-basis: 40%;
}

/* Information style */
.information-main {
  align-items: flex-start;
  flex-direction: column;
}

.information-main img {
  margin-bottom: 32px;
}

.information-main p {
  margin: 24px 0;
}

.information-main h6 {
  font-size: 12px;
}

.information {
  padding-bottom: 32px;
}

.mob-img {
  display: none;
}

.card {
  align-items: center;
  display: flex;
  padding: 16px 0 16px 16px;
}

.card p {
  padding: 8px 0;
}

.card-image {
  flex-basis: 35%;
}

.card-text {
  flex-basis: 65%;
  padding-left: 8px;
}

.card-text a:hover {
  color: #92CDCF;
  transition: color 250ms ease-in;
}

/* Courses style */
.courses-body h1 {
  background-color: #445878;
  color: #EEEFF7;
  padding: 32px 0;
  text-align: center;
  text-shadow: 2px 2px #31353D;
}

.course-cards {
  background-color: #445878;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.course {
  margin: 0 16px;
  margin-bottom: 32px;
  width: 275px; /* I thought it made more sense from a responsiveness standpoint to fix the widths for the courses rather than try to get a certain margin on the left and right */
}

.course h2 {
  padding: 16px;
}

.course h3 {
  padding: 8px 16px;
  text-transform: uppercase;
}

.course p {
  padding: 0 16px 24px 16px;
}

/* thesis styles */
.thesis-section h1 {
  text-align: center;
  padding: 32px 0;
}

.thesis {
  flex-basis: 60%;
}

.thesis-box .information-main {
  padding-top: 0;
}

/* Footer styles */
.main-foot {
  background-color: #31353D;
  color: #EEEFF7;
  text-shadow: 1px 1px #445878;
  font-size: 14px;
  font-weight: lighter;
  height: 64px;
  justify-content: space-between;
  margin-top: 32px;
  padding: 16px 24px;
}

.nav-foot li {
  display: inline;
  padding-left: 16px;
}

/* Media Queries */
@media all and (max-width: 1000px) {
  .large-left {
    flex-basis: 50%;
  }

  .start {
    flex-basis: 50%;
  }
}

@media all and (max-width: 640px) {
  /* Nav-Bar Mobile */
  .logo img,
  li img {
    max-width: 35px;
    padding: 0 12px;
  }

  .nav,
  .logo-name {
    display: none;
  }

  .nav-mobile {
    display: flex;
    flex-basis: 80%;
    justify-content: center;
  }

  .nav-icons {
    display: flex;
  }

  /* info mobile */
  .banner {
    margin: 0;
    margin-top: 64px;
    padding: 0;
  }

  .large-left {
    flex-direction: column;
    margin: 0;
  }

  .side-right {
    margin: 0;
    padding: 32px 16px;
  }

  .dt-img {
    display: none;
  }

  .mob-img {
    display: inline;
  }

  .information {
    margin: 0;
    padding: 0;
  }

  /* Courses mobile */
  .main-1 {
    display: none;
  }

  .start {
    flex-basis: 100%;
  }

  .courses-body {
    padding-bottom: 24px;
  }

  .course-heading h1 {
    padding: 32px 0 16px 0;
  }

  .card {
    align-items: flex-start;
    flex-direction: column;
    margin: 16px;
    padding: 0;
  }

  .card-text {
    padding: 16px;
  }

  .course {
    margin-bottom: 8px;
  }

  .course img,
  .course h3,
  .course p {
    display: none;
  }

  /* Thesis mobile */
  .thesis-section h1 {
    padding: 32px 0 16px 0;
  }

  .start-2 {
    display: none;
  }

  .main-2 {
    flex-basis: 100%;
  }

  .main-2 h2,
  .main-2 p,
  .main-2 h6 {
    display: none;
  }

  /* Footer mobile */
  .main-foot {
    align-items: center;
    height: 14px;
    margin-top: 24px;
  }

  .nav-foot {
    display: none;
  }
}
